/* Tablet (Portrait) = Design for a width of 730px
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #wrapper {
    width: 690px;
  }

  #content-wrapper {
    background: white;
  }
  #content-wrapper section#content {
    margin: 0;
    width: auto;
  }
  #content-wrapper aside#sidebar-first {
    width: 100%;
  }

  #footer-wrapper .footer-region-first .footer-first {
    width: 100%;
  }
  #footer-wrapper .footer-region-first .footer-second {
    width: 100%;
  }
  #footer-wrapper .footer-region-first .footer-third {
    width: 100%;
  }
}
/* Mobile (Portrait) = Design for a width of 280px
================================================== */
@media only screen and (max-width: 767px) {
  #wrapper {
    width: 280px;
  }

  #header-wrapper #branding #name-and-slogan {
    width: 60%;
  }
  #header-wrapper #branding #name-and-slogan h1 {
    font-size: 1.175em;
    line-height: 1em;
  }
  #header-wrapper #branding #name-and-slogan #site-slogan {
    font-size: .800em;
  }

  #content-wrapper {
    background: white;
  }
  #content-wrapper section#content {
    margin: 0;
    width: 240px;
  }
  #content-wrapper section#content article.node header .title-meta {
    width: 70%;
  }
  #content-wrapper aside#sidebar-first {
    width: 100%;
  }

  #footer-wrapper .footer-region-first .footer-first {
    width: 100%;
  }
  #footer-wrapper .footer-region-first .footer-second {
    width: 100%;
  }
  #footer-wrapper .footer-region-first .footer-third {
    width: 100%;
  }
}
/* Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #wrapper {
    width: 330px;
  }
  #wrapper #header-wrapper #branding #name-and-slogan {
    width: 65%;
  }
  #wrapper #header-wrapper #branding #name-and-slogan h1 {
    font-size: 1.375em;
  }
  #wrapper #content-wrapper {
    background: white;
  }
  #wrapper #content-wrapper section#content {
    margin: 0;
    width: 290px;
  }
  #wrapper #content-wrapper section#content article.node header .title-meta {
    width: 75%;
  }
  #wrapper #content-wrapper aside#sidebar-first {
    width: 100%;
  }

  #footer-wrapper .footer-region-first .footer-first {
    width: 100%;
  }
  #footer-wrapper .footer-region-first .footer-second {
    width: 100%;
  }
  #footer-wrapper .footer-region-first .footer-third {
    width: 100%;
  }
}
