@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
/* General Styles */
body {
  nowhitespace: afterproperty;
  font: 14px/1.8 "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #e6e7e7;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #222222;
  color: #525a00;
}

a:hover {
  text-decoration: underline;
}

/* Wrapper */
#wrapper {
  width: 960px;
  margin: 0 auto;
}

/* Header */
#header-wrapper {
  margin-top: 10px;
}
#header-wrapper #branding {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a3a3a), color-stop(100%, #0d0d0d));
  background-image: -webkit-linear-gradient(#3a3a3a, #0d0d0d);
  background-image: -moz-linear-gradient(#3a3a3a, #0d0d0d);
  background-image: -o-linear-gradient(#3a3a3a, #0d0d0d);
  background-image: linear-gradient(#3a3a3a, #0d0d0d);
  overflow: hidden;
  *zoom: 1;
  height: 85px;
}
#header-wrapper #branding #site-logo {
  float: left;
  padding: 9px 0 9px 20px;
}
#header-wrapper #branding #site-logo img {
  max-width: 100%;
  display: block;
}
#header-wrapper #branding #name-and-slogan {
  float: left;
  margin-left: 20px;
}
#header-wrapper #branding #name-and-slogan h1 {
  font-size: 1.875em;
  padding: 22px 0 0 0;
  line-height: .800em;
}
#header-wrapper #branding #name-and-slogan h1 a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
#header-wrapper #branding #name-and-slogan #site-slogan {
  color: white;
}
#header-wrapper #main-menu nav#navigation {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #d8d8d8));
  background-image: -webkit-linear-gradient(#fafafa, #d8d8d8);
  background-image: -moz-linear-gradient(#fafafa, #d8d8d8);
  background-image: -o-linear-gradient(#fafafa, #d8d8d8);
  background-image: linear-gradient(#fafafa, #d8d8d8);
  position: relative;
  height: 42px;
  			/*	ul{
  					position: absolute;
  
  					li{
  						float: left;
  						padding: 0 12px 0 12px;
  						list-style-image: none;
  						list-style-type: none;
  						margin: 0;
  
  						a{
  							text-decoration: none;
  							color: $default;
  							padding: 8px 0 8px 0;
  							display: block;
  							font-weight: 600;
  							}
  						}
  					li.active{
  						@include background-image(linear-gradient(#c2cf34, #8e9a1d));
  						margin: 0;
  
  						a{
  							color: $white;
  							}
  						}
  					li.expanded{
  						list-style-image: none;
  						list-style-type: none;
  						position: relative;
  
  						ul{
  							display: none;
  							position: absolute;
  							background: $lemongreen;
    							z-index: 99;
    							left: 0;
  
  							li{
  								display: inline-block;
  								clear: both;
  								margin: 0;
  								width: 180px;
  								}
  							
  							}
  
  						}
  						li.expanded ul li > li{
  
  							ul{
  								display: none;
  								}
  							}
  
  						li.expanded{
  
  								ul{
  									li{
  										background: none;
  
  										a{
  											color: $default;
  											}
  										}
  									li.active{
  										background: none;
  										}
  									}
  								}
  							}*/
}
#header-wrapper #main-menu nav#navigation ul * {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}
#header-wrapper #main-menu nav#navigation ul li {
  float: left;
  padding: 0 12px 0 12px;
  position: relative;
}
#header-wrapper #main-menu nav#navigation ul li a {
  text-decoration: none;
  color: #222222;
  padding: 8px 0 8px 0;
  display: block;
  font-weight: 600;
}
#header-wrapper #main-menu nav#navigation ul li:hover {
  background: #f2f9a2;
}
#header-wrapper #main-menu nav#navigation ul > li.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c2cf34), color-stop(100%, #8e9a1d));
  background-image: -webkit-linear-gradient(#c2cf34, #8e9a1d);
  background-image: -moz-linear-gradient(#c2cf34, #8e9a1d);
  background-image: -o-linear-gradient(#c2cf34, #8e9a1d);
  background-image: linear-gradient(#c2cf34, #8e9a1d);
  margin: 0;
}
#header-wrapper #main-menu nav#navigation ul > li.active > a {
  color: white;
}
#header-wrapper #main-menu nav#navigation ul ul {
  position: absolute;
  top: -999em;
}
#header-wrapper #main-menu nav#navigation ul li:hover > ul {
  top: 40px;
  left: 0;
  z-index: 99;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c2cf34), color-stop(100%, #8e9a1d));
  background-image: -webkit-linear-gradient(#c2cf34, #8e9a1d);
  background-image: -moz-linear-gradient(#c2cf34, #8e9a1d);
  background-image: -o-linear-gradient(#c2cf34, #8e9a1d);
  background-image: linear-gradient(#c2cf34, #8e9a1d);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#header-wrapper #main-menu nav#navigation ul li:hover > ul li {
  padding: 0 12px 0 12px;
  position: relative;
  width: 180px;
}
#header-wrapper #main-menu nav#navigation ul li:hover > ul li:hover {
  background: #f2f9a2;
}
#header-wrapper #main-menu nav#navigation ul li:hover > ul li:hover.active a {
  color: #222222;
}
#header-wrapper #main-menu nav#navigation ul li:hover > ul li:hover > ul {
  left: 190px;
  top: 0;
  z-index: 99;
}
#header-wrapper #main-menu nav#navigation #menu-icon {
  display: none;
}

/* Content */
#content-wrapper {
  background: white url("../images/content-bg.png") 0 0 repeat-y;
  margin-top: 10px;
  padding: 20px;
  overflow: hidden;
  *zoom: 1;
}
#content-wrapper section#content {
  width: 610px;
  float: left;
  margin-right: 40px;
}
#content-wrapper section#content article.node {
  background: url("../images/dotted-line.png") bottom left repeat-x;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
#content-wrapper section#content article.node header {
  overflow: hidden;
  *zoom: 1;
}
#content-wrapper section#content article.node header .date {
  display: inline-block;
  background: #e6e7e7;
  border: 1px solid #dadada;
  float: left;
}
#content-wrapper section#content article.node header .date span {
  width: 50px;
  display: block;
  text-align: center;
}
#content-wrapper section#content article.node header .date .month {
  background: #c2cd4e;
  color: white;
  text-transform: uppercase;
  height: 20px;
  font-size: .900em;
  line-height: 1.5em;
  font-weight: 600;
}
#content-wrapper section#content article.node header .date .day {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 300;
}
#content-wrapper section#content article.node header .date .year {
  font-size: .700em;
  line-height: 1.2em;
  font-weight: 300;
}
#content-wrapper section#content article.node header .title-meta {
  margin-left: 15px;
  float: left;
  display: block;
  width: 89%;
}
#content-wrapper section#content article.node header .title-meta h2.title {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1em;
  background: url("../images/dotted-line.png") bottom left repeat-x;
  padding-bottom: 10px;
}
#content-wrapper section#content article.node header .title-meta h2.title a {
  color: #222222;
  text-decoration: none;
  line-height: 1.2em;
}
#content-wrapper section#content article.node header .title-meta .meta ul li {
  display: inline-block;
  padding: 0 15px 0 20px;
  color: #888888;
  font-weight: 400;
  font-size: .900em;
}
#content-wrapper section#content article.node header .title-meta .meta ul li a {
  text-decoration: none;
  color: #888888;
  display: inline-block;
  padding-right: 5px;
  font-weight: 400;
}
#content-wrapper section#content article.node header .title-meta .meta ul li a:hover {
  text-decoration: underline;
}
#content-wrapper section#content article.node header .title-meta .meta ul li.author-name {
  background: url("../images/icons/icon-user.png") no-repeat 1px 8px;
}
#content-wrapper section#content article.node header .title-meta .meta ul li.tags {
  background: url("../images/icons/icon-tags.png") no-repeat 1px 8px;
}
#content-wrapper section#content article.node header .title-meta .meta ul li.comments {
  background: url("../images/icons/icon-comments.png") no-repeat 1px 8px;
}
#content-wrapper section#content article.node .content {
  margin-top: 25px;
  overflow: hidden;
  *zoom: 1;
}
#content-wrapper section#content article.node .content img {
  float: left;
  padding: 5px;
  margin: 0.5em 1em 0.5em 0;
  border: 1px solid #d8d8d8;
}
#content-wrapper section#content article.node .content p {
  padding: 0 0 15px 0;
}
#content-wrapper section#content article.node .content footer {
  display: inline-block;
}
#content-wrapper section#content article.node .content footer a {
  color: #222222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #d7d7d7));
  background-image: -webkit-linear-gradient(#e8e8e8, #d7d7d7);
  background-image: -moz-linear-gradient(#e8e8e8, #d7d7d7);
  background-image: -o-linear-gradient(#e8e8e8, #d7d7d7);
  background-image: linear-gradient(#e8e8e8, #d7d7d7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  font-weight: .900em;
  display: block;
}
#content-wrapper section#content h2.title {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1em;
  background: url("../images/dotted-line.png") bottom left repeat-x;
  padding-bottom: 10px;
}
#content-wrapper section#content h2.title a {
  color: #222222;
  text-decoration: none;
}
#content-wrapper section#content article.node-page {
  background: url("../images/dotted-line.png") bottom left repeat-x;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
#content-wrapper section#content article.node-page header .title-meta {
  margin-left: 0px;
  float: left;
  display: block;
  width: 600px;
}
#content-wrapper section#content article.node-page header .title-meta h2.title {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1em;
  padding-bottom: 10px;
  background: none;
}
#content-wrapper section#content article.node-page .content {
  margin-top: 15px;
}
#content-wrapper section#content article:last-child {
  background: none;
}
#content-wrapper aside#sidebar-first {
  width: 270px;
  float: left;
}
#content-wrapper aside#sidebar-first #block-search-form {
  text-align: center;
  position: relative;
  margin-bottom: 2em;
}
#content-wrapper aside#sidebar-first #block-search-form input[type="text"] {
  border: 1px solid #e6e6e6;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 75%;
  color: #888888;
}
#content-wrapper aside#sidebar-first #block-search-form input[type="submit"] {
  background: url("../images/icons/icon-search.png") no-repeat 0 0;
  width: 14px;
  height: 14px;
  border: 0;
  text-indent: -9999px;
  left: -30px;
  top: 1px;
  position: relative;
  cursor: hand;
  cursor: pointer;
}
#content-wrapper aside#sidebar-first .block {
  margin-bottom: 1.5em;
}
#content-wrapper aside#sidebar-first .block h2 {
  color: #525a00;
  font-weight: 600;
  font-size: 1.4em;
  background: url("../images/dotted-line.png") bottom left repeat-x;
  padding-bottom: .2em;
  margin-bottom: .2em;
}
#content-wrapper aside#sidebar-first .block .content ul li {
  padding: 0 0 0 15px;
  background: url("../images/block-arrow.png") 0px 9px no-repeat;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}
#content-wrapper aside#sidebar-first .block .content ul li a {
  text-decoration: none;
  color: #222222;
}

/* Footer */
#footer-wrapper {
  margin: 10px 0 20px 0;
  border-top: 5px solid #f7f7f7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, #e6e7e7));
  background-image: -webkit-linear-gradient(#dcdcdc, #e6e7e7);
  background-image: -moz-linear-gradient(#dcdcdc, #e6e7e7);
  background-image: -o-linear-gradient(#dcdcdc, #e6e7e7);
  background-image: linear-gradient(#dcdcdc, #e6e7e7);
  padding: 10px 20px 20px 20px;
}
#footer-wrapper .footer-region-first {
  overflow: hidden;
  *zoom: 1;
}
#footer-wrapper .footer-region-first h2 {
  font-weight: 600;
  font-size: 1.4em;
  background: url("../images/dotted-line-dark.png") bottom left repeat-x;
  padding-bottom: .2em;
  margin-bottom: .2em;
}
#footer-wrapper .footer-region-first ul li {
  margin-left: 0;
}
#footer-wrapper .footer-region-first .footer-first {
  width: 293px;
  float: left;
  padding-right: 20px;
}
#footer-wrapper .footer-region-first .footer-first ul.social {
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
}
#footer-wrapper .footer-region-first .footer-first ul.social li:first-child {
  padding: 0;
}
#footer-wrapper .footer-region-first .footer-first ul.social li {
  float: left;
  width: 24px;
  padding: 0 0 0 8px;
}
#footer-wrapper .footer-region-first .footer-first ul.social li a {
  display: block;
  width: 24px;
  height: 24px;
}
#footer-wrapper .footer-region-first .footer-second {
  width: 293px;
  float: left;
  padding-right: 20px;
}
#footer-wrapper .footer-region-first .footer-third {
  width: 293px;
  float: left;
}
#footer-wrapper .footer-region-second {
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  background: url("../images/copyright-bg.png") top center no-repeat;
  font-size: .800em;
}

/* Form Elements */
input[type="text"],
input[type="password"] {
  border: 1px solid #e6e6e6;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 75%;
  color: #888888;
}

#user-login-form input[type="submit"] {
  color: #222222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #d7d7d7));
  background-image: -webkit-linear-gradient(#e8e8e8, #d7d7d7);
  background-image: -moz-linear-gradient(#e8e8e8, #d7d7d7);
  background-image: -o-linear-gradient(#e8e8e8, #d7d7d7);
  background-image: linear-gradient(#e8e8e8, #d7d7d7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: .900em;
  display: block;
  border: 0;
  cursor: hand;
  cursor: pointer;
}

/* Pagination */
.pager li.pager-next a {
  background: url("../images/pagination-right.png") center no-repeat;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
}
.pager li.pager-previous a {
  background: url("../images/pagination-left.png") center no-repeat;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
}
.pager li.pager-current {
  background: #d8e360;
  display: inline-block;
  width: 30px;
  height: 30px;
}

/* Table */
table {
  margin: 0 0 1.5em;
  width: 100%;
  border: 1px solid #ddd;
  background: #f7f7f7 !important;
}
table tr.even,
table tr.odd {
  background: #f7f7f7 !important;
}
table tr {
  padding: 5px 5px;
}
table tr th {
  background: #888888;
  color: white;
  padding: 5px;
  font-weight: 600;
}
table tr td {
  padding: 5px 10px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-weight: 400;
}
table tr td a:hover {
  text-decoration: underline;
}
table tr td .node-author {
  padding: 0 0 0 20px;
  background: url("../images/icons/icon-user.png") 0px 8px no-repeat;
}
table tr td .node-author a {
  color: #525a00;
  font-size: .900em;
  font-weight: 600;
}
table tr td .node-author a:hover {
  text-decoration: underline;
}

/* Comments */
.page-comment-reply .region-content {
  margin: 10px 0 0 0;
}

.comment-wrapper h2.title {
  margin-bottom: .5em;
}
.comment-wrapper .comment {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #dadada;
  padding: 10px;
  background: #f7f7f7;
  margin-bottom: 10px;
}
.comment-wrapper .comment .user-picture {
  display: inline-block;
  width: 75px;
  float: left;
}
.comment-wrapper .comment .user-picture img {
  width: 70%;
  height: 70%;
  border: 1px dotted #dadada;
  padding: 5px;
}
.comment-wrapper .comment h3 {
  font-size: 1.2em;
  font-weight: 600;
}
.comment-wrapper .comment .content {
  font-size: .900em;
}
.comment-wrapper .comment .submitted {
  font-size: .800em;
}
.comment-wrapper .comment .submitted a.permalink {
  background: url("../images/icons/icon-permalink.png") 0 0 no-repeat;
  text-indent: -9999px;
  display: inline-block;
  width: 10px;
  height: 11px;
}
.comment-wrapper .comment .submitted .username {
  font-weight: 600;
}
.comment-wrapper .comment .links li a {
  color: #222222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #d7d7d7));
  background-image: -webkit-linear-gradient(#e8e8e8, #d7d7d7);
  background-image: -moz-linear-gradient(#e8e8e8, #d7d7d7);
  background-image: -o-linear-gradient(#e8e8e8, #d7d7d7);
  background-image: linear-gradient(#e8e8e8, #d7d7d7);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 0 10px;
  text-decoration: none;
  font-size: .900em;
  display: inline-block;
  font-weight: 600;
}

/* Misc */
.marker,
.new {
  display: inline-block;
  width: 30px;
  height: 14px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #d9d9d9));
  background-image: -webkit-linear-gradient(#fafafa, #d9d9d9);
  background-image: -moz-linear-gradient(#fafafa, #d9d9d9);
  background-image: -o-linear-gradient(#fafafa, #d9d9d9);
  background-image: linear-gradient(#fafafa, #d9d9d9);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: .800em;
  color: #c40202;
  text-align: center;
  font-weight: 600;
  line-height: 11px;
}

ul li.collapsed {
  list-style-image: none;
  list-style-type: none;
}
