$bodybg: #e6e7e7;
$white: #FFF;
$black: #000;
$red: #c40202;
$default: #222;
$lemongreen: #c2cd4e;
$graybg: #e6e7e7;
$grayborder: #dadada;
$gray: #888;
$imgborder: #d8d8d8;
$txtborder: #e6e6e6;
$lemongreendark: #525a00;
$lightgray: #f9f9f9;
$pagerbg: #CCC;
$lightgray: #F7F7F7;