$bodybg: #e6e7e7;
$white: #FFF;
$default: #222;
$lemongreen: #c2cd4e;
$graybg: #e6e7e7;
$grayborder: #dadada;
$gray: #888;
$imgborder: #d8d8d8;
$txtborder: #e6e6e6;
$lemongreendark: #94a020;
$lightgray: #f9f9f9;