@import "compass";
@import "base";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/* General Styles */

body {
  nowhitespace: afterproperty;
  font: 14px/1.8 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: $bodybg;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a{
	text-decoration: none;
	color: $default;
	color: $lemongreendark;
	}
a:hover{
	text-decoration: underline;
}
/* Wrapper */

#wrapper{
	width: 960px;
	margin: 0 auto;
	}

/* Header */
#header-wrapper{
	margin-top: 10px;

	#branding{
		@include background-image(linear-gradient(#3a3a3a, #0d0d0d));
		@include clearfix;
		height: 85px;

		#site-logo{
			float: left;
			padding: 9px 0 9px 20px;

			img{
				max-width: 100%;
				display: block;
				}
			}

		#name-and-slogan{
			float: left;
			margin-left: 20px;

			h1{
				font-size: 1.875em;
				padding: 22px 0 0 0;
				line-height: .800em;

				a{
					color: $white;
					text-transform: uppercase;
					text-decoration: none;
					}
				}
			#site-slogan{
				color: $white;
				}
			}
		}

		#main-menu{
			nav{
				@include background-image(linear-gradient(#fafafa, #d8d8d8));

				ul{
					@include clearfix;

					li{
						float: left;
						padding: 0 12px 0 12px;

						a{
							text-decoration: none;
							color: $default;
							padding: 8px 0 8px 0;
							display: block;
							font-weight: 600;
							}
						}
					li.active{
						@include background-image(linear-gradient(#c2cf34, #8e9a1d));

						a{
							color: $white;
							}
						}

					}
				}
			}
	}

/* Content */

#content-wrapper{
	background: $white url('../images/content-bg.png') 0 0 repeat-y;
	margin-top: 10px;
	padding: 20px;
	@include clearfix;

	section#content{
		width: 610px;
		float: left;
		margin-right: 40px;

		article.node{
			background: url('../images/dotted-line.png') bottom left repeat-x;
			padding-bottom: 25px;
			margin-bottom: 25px;

			header{
				@include clearfix;
				.date{
					display: inline-block;
					background: $graybg;
					border: 1px solid $grayborder;
					float: left;

					span{
						width: 50px;
						display: block;
						text-align: center;
						}

					.month{
						background: $lemongreen;
						color: $white;
						text-transform: uppercase;
						height: 20px;
						font-size: .900em;
						line-height: 1.5em;
						font-weight: 600;
						}

					.day{
						font-size: 1.5em;
						line-height: 1.3em;
						font-weight: 300;
						}

					.year{
						font-size: .700em;
						line-height: 1.2em;
						font-weight: 300;
						}
					}
				.title-meta{
					margin-left: 15px;
					float: left;
					display: block;
					width: 540px;

					h2.title{
						font-size: 1.8em;
						font-weight: 600;
						line-height: 1em;
						background: url('../images/dotted-line.png') bottom left repeat-x;
						padding-bottom: 10px;
						a{
							color: $default;
							text-decoration: none;
							}
						}
					.meta{
						ul{
							li{
								display: inline-block;
								padding:0 15px 0 20px;
								color: $gray;
								font-weight: 400;
								font-size: .900em;

								a{
									text-decoration: none;
									color: $gray;
									display: inline-block;
									padding-right: 5px;
									font-weight: 400;
									}
								a:hover{
									text-decoration: underline;
									}
								}
							li.author-name{
								background: url('../images/icons/icon-user.png') no-repeat 1px 8px;
								}
							li.tags{
								background: url('../images/icons/icon-tags.png') no-repeat 1px 8px;
								}
							li.comments{
								background: url('../images/icons/icon-comments.png') no-repeat 1px 8px;
								}
							}
						}
					}
				}
			.content{
				margin-top: 25px;
				@include clearfix;

				img{
					float: left;
					padding: 5px;
					margin: 0.5em 1em 0.5em 0;
					border: 1px solid $imgborder;
					}
				p{
					padding: 0 0 15px 0;
					}

				footer{
					display: inline-block;

					a{
						color: $default;
						@include background-image(linear-gradient(#e8e8e8, #d7d7d7));
						@include border-radius(3px);
						padding: 0 10px;
						text-decoration: none;
						font-weight: .900em;
						display: block;
						}
					}

				}

			

			}
		h2.title{
			font-size: 1.8em;
			font-weight: 600;
			line-height: 1em;
			background: url('../images/dotted-line.png') bottom left repeat-x;
			padding-bottom: 10px;
			a{
				color: $default;
				text-decoration: none;
				}
			}

		article.node-page{
			background: url('../images/dotted-line.png') bottom left repeat-x;
			padding-bottom: 25px;
			margin-bottom: 25px;

			header{
				.title-meta{
					margin-left: 0px;
					float: left;
					display: block;
					width: 600px;

					h2.title{
						font-size: 1.8em;
						font-weight: 600;
						line-height: 1em;
						padding-bottom: 10px;
						background: none;
						}
					}
				}
			.content{
				margin-top: 15px;
				}
			}

		article:last-child{
			background: none;
			}
		}

	aside#sidebar-first{
		width: 270px;
		float: left;

		#block-search-form{
			text-align: center;
			position: relative;
			margin-bottom: 2em;

			input[type="text"]{
				border: 1px solid $txtborder;
				padding: 10px;
				@include border-radius(3px);
				width: 75%;
				color: $gray;
				}

			input[type="submit"]{
				background: url('../images/icons/icon-search.png') no-repeat 0 0;
				width: 14px;
				height: 14px;
				border: 0;
				text-indent: -9999px;
				left: -30px;
				top: 1px;
				position: relative;
				cursor: hand;
				cursor: pointer;
				}

			}
		.block{
			margin-bottom: 1.5em;

			h2{
				color: $lemongreendark;
				font-weight: 600;
				font-size: 1.4em;
				background: url('../images/dotted-line.png') bottom left repeat-x;
				padding-bottom: .2em;
				margin-bottom: .2em;
				}
			.content{
				ul{
					li{
						padding: 0 0 0 15px;
						background: url('../images/block-arrow.png') 0px 9px no-repeat;
						list-style-image: none;
						list-style-type: none;
						margin:0;

						a{
							text-decoration: none;
							color: $default;
							}
						}
					}
				}
			}

		}
	}


/* Footer */

#footer-wrapper{
	margin: 10px 0 20px 0;
	border-top: 5px solid $lightgray;
	@include background-image(linear-gradient(#dcdcdc, #e6e7e7));
	padding: 10px 20px 20px 20px;

	.footer-region-first{
		@include clearfix;
		
		h2{
			font-weight: 600;
			font-size: 1.4em;
			background: url('../images/dotted-line-dark.png') bottom left repeat-x;
			padding-bottom: .2em;
			margin-bottom: .2em;
			}
		ul{
			li{
				margin-left: 0;
			}
		}
		.footer-first{
			width: 293px;
			float: left;
			padding-right: 20px;

			ul{
				@include clearfix;
				margin-top: 10px;
				
				li:first-child{
					padding:0;
					}
				li{
					float: left;
					width: 24px;
					padding: 0 0 0 8px;

					a{
						display: block;
						width: 24px;
						height: 24px;
						}
					}

				}
			}
		.footer-second{
			width: 293px;
			float: left;
			padding-right: 20px;
			}
		.footer-third{
			width: 293px;
			float: left;
			}
		}
	.footer-region-second{
		text-align: center;
		padding: 10px;
		margin-top: 25px;
		background: url('../images/copyright-bg.png') top center no-repeat;
		font-size: .800em;
		}
	}

/* Form Elements */

input[type="text"],
input[type="password"]{
	border: 1px solid $txtborder;
	padding: 10px;
	@include border-radius(3px);
	width: 75%;
	color: $gray;
	}

#user-login-form{
	input[type="submit"]{
		color: $default;
		@include background-image(linear-gradient(#e8e8e8, #d7d7d7));
		@include border-radius(3px);
		padding: 10px 20px;
		text-decoration: none;
		font-weight: .900em;
		display: block;
		border: 0;
		cursor: hand; 
		cursor: pointer;
		}
	}

/* Pagination */

.pager{

	li.pager-next{

		a
			{
			background: url('../images/pagination-right.png') center no-repeat;
			display: inline-block;
			text-indent: -9999px;
			width: 30px;
			height: 30px;
			}
		}
	li.pager-previous{

		a
			{
			background: url('../images/pagination-left.png') center no-repeat;
			display: inline-block;
			text-indent: -9999px;
			width: 30px;
			height: 30px;
			}
		}
	li.pager-current{
			background: #d8e360;
			display: inline-block;
			width: 30px;
			height: 30px;		
		}

	}


/* Table */
table{
  margin: 0 0 1.5em;
  width: 100%;
  border:1px solid #ddd;
  background: $lightgray !important;
  	tr.even,
  	tr.odd{
		background: $lightgray !important;
  		}
	tr{
		padding:5px 5px;
		td{
			padding:5px 10px;
			border-top:1px solid #ddd;
			border-right:1px solid #ddd;

			a:hover{
				text-decoration:underline;
				}

			.node-author{
				padding: 0 0 0 20px;
				background: url('../images/icons/icon-user.png') 0px 8px no-repeat;

				a{
					color: $lemongreendark;
					font-size: .900em;
					font-weight: 600;
					}
				a:hover{
					text-decoration: underline;
					}
				}
			}
	}

}

/* Comments */

.comment-wrapper{


	h2.title{
		margin-bottom: .5em;
		}

	.comment{
		@include clearfix;
		border: 1px solid $grayborder;
		padding: 10px;
		background: $lightgray;
		margin-bottom: 10px;

		.user-picture{
			display: inline-block;
			width: 75px;
			float: left;

			img{
				width: 70%;
				height: 70%;
				border: 1px dotted $grayborder;
				padding: 5px;
				}
			}
		h3{
			font-size: 1.2em;
			font-weight: 600;
			}
		.content{
			font-size: .900em;
			}
		.submitted{
			font-size: .800em;

			a.permalink{
				background: url('../images/icons/icon-permalink.png') 0 0 no-repeat;
				text-indent: -9999px;
				display: inline-block;
				width: 10px;
				height: 11px;
				}
			.username{
				font-weight: 600;
				}
			}
		.links{
			li{
				a{
					color: $default;
					@include background-image(linear-gradient(#e8e8e8, #d7d7d7));
					@include border-radius(2px);
					padding: 0 10px;
					text-decoration: none;
					font-size: .900em;
					display: inline-block;
					font-weight: 600;
					}
				}
			}
		}
	}

/* Misc */

.marker,
.new{
	display: inline-block;
	width: 30px;
	height: 14px;
	@include background-image(linear-gradient(#fafafa, #d9d9d9));
	@include border-radius(2px);
	font-size: .800em;
	color: $red;
	text-align: center;
	font-weight: 600;
	line-height: 11px;
	}